[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=vectrize
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Vectrize
Comment=Vectrize an image to SVG pathes.
